# Python
backend/venv/
__pycache__/
*.pyc

# Node
frontend/node_modules/
frontend/dist/

# Local data
backend/history.db
backend/outputs/*
!backend/outputs/.gitkeep
outputs/


# OS / editor
.DS_Store
Thumbs.db
.vscode/
